
.experience-item {
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin-bottom: 1em;
    border-top: 1px solid gray;
    color: #fff;
}

.experience-item .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.experience-item .fa-regular.fa-pen-to-square {
    display: inline-flex;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 0.3em;
}

.experience-item .fa-regular.fa-pen-to-square:hover {
    color: #03495a;
}

.experience-item h3 {
    display: inline-flex;
    font-size: 1.4em;
    color: #fff;
}