<section class="register-types">
    <div class="register-title">
        <h2>Create Your Profile</h2>
        <p>Choose Your Profile Type</p>
    </div>
    <div class="wrapper">
        <a class="category-card" routerLink="/register/professional/club">
            <p>Club</p>
        </a>

        <a class="category-card" routerLink="/register/professional/trainer">
            <p>Personal Trainer</p>
        </a>

        <a class="category-card" routerLink="/register/professional/nutritionist">
            <p>Nutritionist</p>

        </a>

        <a class="category-card" routerLink="/register/professional/physiotherapist">
            <p>Physiotherapist</p>
        </a>

    </div>
</section>